*{
	margin: 0;
	padding: 0;
}

#main,
.snake{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 0.1vmin solid black;
	height: 98vmin;
	width: 98vmin;

}

.box{
	float: left;
	width: 9.5vmin;
	height: 9.5vmin;
	border: 0.1vmin solid black;
	text-align: center;
	line-height: 9.601vmin;
	text-align: center;
	background-color: green;
}

#side{
	position: absolute;
	top: 1vmin;
	left: 1vmin;
	height: 25vmin;
	width: 35vmin;
	border: 0.2vmin solid black;
}

#cubeOuter{
	height: 8vmin;
	width: 8vmin;
	perspective: 30vmin;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

}

#cubeInner{
	height: 100%;
	width: 100%;	
	position: absolute;
	transform-style: preserve-3d;
	transition: all 0.75s linear;
}

#cubeInner div{
	width: 30px;
	position: absolute;
}

#front{
	transform: translateZ(4vmin);
}

#back{
	transform: rotateY(180deg) translateZ(4vmin);
}

#left{
	transform: rotateY(-90deg) translateX(-4vmin);
	transform-orgin: left;
}

#right{
	transform: rotateY(90deg) translateX(4vmin);
	transform-orgin: right;
}

#top{
	transform: rotateX(-90deg) translateY(-4vmin);
	transform-orgin: top;
}

#bottom{
	transform: rotateX(90deg) translateY(4vmin);
	transform-orgin: bottom;
}

img{
	height: 30px;
	width: 30px;
}

.players{
	position: absolute;
	top: 90vmin;
	left: 3vmin;
	height: 4vmin;
	width: 4vmin;
	border-radius: 50%
	opacity: 0.7;
	transition-duration: 0.4s;
	transition-property: margin;
}

-players:nth-child(1)(background-color: red;)
-players:nth-child(2)(background-color: blue;)